* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5f5;
}
.contenedor {
    width: 50%;
    height:auto;
    border: thick solid blue;
    margin-top: 100px;
    margin-left: 100px;
    overflow-x: hidden;
    display:grid;
    grid-template-columns:(8,100%);
}
ul {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    animation-name: slide;
    animation-duration: 50s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
}

@keyframes slide {
    0% {margin-left: 0;}
    10% {margin-left: 0;}

    10% {margin-left: -10%;}
    20% {margin-left: -10%;}

    20% {margin-left: -20%;}
    30% {margin-left: -20%;}

    30% {margin-left: -30%;}
    40% {margin-left: -30%;}

    40% {margin-left: -40%;}
    50% {margin-left: -40%;}

    50% {margin-left: -50%;}
    60% {margin-left: -50%;}

    60% {margin-left: -60%;}
    70% {margin-left: -60%;}

    70% {margin-left: -70%;}
    80% {margin-left: -70%;}

    80% {margin-left: -80%;}
    90% {margin-left: -80%;}

    90% {margin-left: -90%;}
    100% {margin-left: -90%;}
}

